

.container {
  display: flex;
  justify-content: center;
  background-color: dimgray;
}

.wrap {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
}

.wrap_element {
  background-color: #9C9C9CFF;
  padding: 5px;
  border-bottom: 1px solid black;
}
