
<div class="container" [formGroup]="form" (ngSubmit)="onReset()">
  <div class="inputs_wrap" formGroupName="currency">
    <select (click)="exchange()" formControlName="exchangeFrom">
      <option value="UAH">UAH</option>
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
    </select>
      <input [value]="inputFromValue" (input)="onExchangeFrom($event)" type="number" placeholder="Enter value" formControlName="currencyInputFrom">
  </div>

  <div class="middlePart_wrap">
    <button (click)="onChangeDirect()" type="button">⮃</button>
  </div>

  <div class="inputs_wrap" formGroupName="currency">
    <select (click)="exchange()" formControlName="exchangeTo">
      <option value="UAH">UAH</option>
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
    </select>
    <input [value]="inputToValue" readonly type="number" placeholder="Exchanged value">
  </div>

  <button (click)="onReset()" type="submit" [disabled]="!form.dirty">Reset</button>
</div>


